#demandProyects {
    background-color: #ff5500;
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/colombia.svg);
    background-size: 32px;
    background-position: 4px center;
    background-repeat: no-repeat;
}

#southProyects {
    background-color: #8c44ae;
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/south.svg);
    background-size: 32px;
    background-position: 4px center;
    background-repeat: no-repeat;
}