#demandProyects {
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/colombia.svg);
    background-size: 32px;
    background-position: 4px center;
    background-repeat: no-repeat;
}

#southProyects {
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/south.svg);
    background-size: 32px;
    background-position: 4px center;
    background-repeat: no-repeat;
}

#descriptionText {
    padding: 20px 45px 0px 45px;  
}

#agree {
    border: 1px solid #134f7f;
    background-color: #288edf;
    box-shadow: inset 0 1px rgba(255,255,255,0.36);
    color: #fff;
    font-weight: 500;
    text-shadow: 0 -1px rgba(0,0,0,0.36);
}

#apcVocabulary {
    background-color: #8d1016;
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/glosary.svg);
    background-size: 32px;
    background-position: 120px 3px;
    background-repeat: no-repeat;
}

#aboutUs{
    padding: 20px 30px 0px 30px;
}

#blocksList {
    background-color: #ffffff;
    padding: 11px;
    border-radius: 6px;
}

#cotainerLogo {
    height: 6.375rem;
    background-color: #ffffff;
    box-shadow: none;
}

#logoApc {
   width: 254px;
   height: 108px;
}

#introContainer{
    padding: 30px 30px 30px 30px;
}

#introBody {
    background-color: #fff;
}

#header-wrap {
    background: #eeeeff;
    position: fixed;
    width: 100%;
    height: 4.375rem;
    top: 0;
    z-index: 1;
}
#containerBig{ 
    /*margin-top: 4.375rem;*/
    margin-top: 7.375rem;      
}

/*** colores headers ***/
#header-prioridades-coop{
    background-color: #2e8bcc;
    opacity: 0.75;       
}

#header-sur-sur{
    /*background-color: #27ae27;
    opacity: 0.75;*/       
}

#header-proyectos{
    background-color: #27ae27;
    opacity: 0.75;       
}

#header-directorio{
    background-color: #f1c40f;
    opacity: 0.75;       
}

#header-directorio{
    background-color: #f1c40f;
    opacity: 0.75;       
}

#header-ejecutas-proyectos{
    background-color: #ff5500;
    opacity: 0.75;       
}

#header-acerca-de{
    background-color: #f31212;;
    opacity: 0.75;       
}

