#demandProyects {
    background-color: #ff5500;
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/colombia.svg);
    background-size: 32px;
    background-position: 4px center;
    background-repeat: no-repeat;
}

#southProyects {
    background-color: #8c44ae;
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/south.svg);
    background-size: 32px;
    background-position: 4px center;
    background-repeat: no-repeat;
}

#descriptionText {
    padding: 20px 45px 0px 45px;
    
}

#agree {
    border: 1px solid #134f7f;
    background-color: #288edf;
    box-shadow: inset 0 1px rgba(255,255,255,0.36);
    color: #fff;
    font-weight: 500;
    text-shadow: 0 -1px rgba(0,0,0,0.36);
}

#apcVocabulary {
    background-color: #8d1016;
    color: #ffffff;
    text-shadow: none;
    border: none;
    background-image: url(../img/glosary.svg);
    background-size: 32px;
    background-position: 120px 3px;
    background-repeat: no-repeat;
}

#aboutUs{
    padding: 20px 30px 0px 30px;
}

#blocksList {
    background-color: #ffffff;
    padding: 11px;
    border-radius: 6px;
}

#cotainerLogo {
    height: 6.375rem;
    background-color: #ffffff;
    box-shadow: none;
}

#logoApc {
    width: 100%;
    height: auto;
    margin-top: -20px;
}

